// Add JAVASCRIPT

.date-celcius-active {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.anyday-active {
  letter-spacing: 0 !important;
  font-style: normal !important;
}
